.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
/doc/
/Meta/
/dev/

# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/

# Vim swapfiles:
.*.sw?
.sw?

# macos
.DS_Store
